langchain
langchain-google-genai
langchain-community
langgraph
docker
python-dotenv
pytest
PyGithub
gitpython
duckduckgo-search
flake8
networkx
fastapi
uvicorn[standard]
ddgs
fastmcp
langchain-mcp-adapters